<div style="margin: 5px" class="row">
  <div class="col-2">
    <button type="button" (click)="onEditClick()" class="btn btn-secondary">Edit</button>
  </div>
  <div class="col-3">
    <strong>{{name}}</strong> {{firstname}}
  </div>
  <div class="col-2">
    <button type="button" (click)="onPaymentClick()" class="btn btn-primary">Rechnung anlegen</button>
  </div>
  <div class="col-2">
    <button type="button" (click)="onContactClick()" class="btn btn-outline-primary">Kontakt anlegen</button>
  </div>
</div>
